body{
font-family: Arial;
padding:20px;
}

input,select,button{
padding:6px;
margin:5px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:10px;
}

th,td{
padding:8px;
text-align:center;
}

.yellow{
background:yellow;
}

th{
cursor:pointer;
}